:root {
  --black: #020303;
  --dark-grey: #171c1c;
  --light-grey: #a7b9b7;
  --primary: #5cc1bb;
  --primary-dark: #41aaa3;
  --secondary: hsl(15deg 100% 62%);
  --secondary-light: hsl(15deg 100% 70%);
  --text-color: #f5fffe;
  --space: 16px;
  --font-size: 18px;
}

body {
  background-color: var(--primary-dark);
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--black);
  padding: var(--space) calc(var(--space) * 3);
  text-align: center;
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a {
  color: var(--secondary-light);
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--secondary);
}

button.btn {
  border: var(--text-color);
  border-radius: 4px;
  background-color: var(--secondary-light);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 2);
  cursor: pointer;
  transition: background-color 200ms;
}
button.btn-text {
  border: none;
  background-color: transparent;
  color: var(--secondary-light);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--secondary);
}
button.btn-text:hover,
button.btn-text:focus {
  color: var(--secondary);
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  margin-bottom: calc(var(--space) * 6);
}
header a {
  margin: var(--space);
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}

.site-logo {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--secondary-light);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
